<section class="section cta py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
      </div>
    </div>
    <!-- <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        {{ with .content.image }}{{ partial "utilities/image-fluid.html" . }}{{ end }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        {{ with .content.button }}
          <a class="btn btn-outline-primary px-4" href="{{ .url }}">{{ .label }}<span class="ms-2">{{ partial "icons/arrow-right.html" }}</span></a>
        {{ end }}
      </div>
    </div> -->
    <!-- <form name="enquiries" netlify>
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
      </div>
    
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
      </div>
    
      <div class="mb-3">
        <label for="phoneNumber" class="form-label">Phone Number:</label>
        <input type="tel" class="form-control" id="phoneNumber" placeholder="Enter your phone number" required>
      </div>
    
      <div class="mb-3">
        <label for="enquiry" class="form-label">Enquiry/Question:</label>
        <textarea class="form-control" id="enquiry" rows="4" placeholder="Enter your enquiry or question" required></textarea>
      </div>
    
      <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->
    <div class="embed-responsive w-100">
      <iframe class="embed-responsive" width="100%" height="500px" src="https://docs.google.com/forms/d/e/1FAIpQLScs74-xYP32scboy6EAnFlcvQ79cJStb471hu9fv5KrnUg8VQ/viewform?embedded=true" frameborder="0">Loading…</iframe>
      <!-- <iframe class="embed-responsive-item" src="https://www.example.com"></iframe> -->
    </div>
  </div>
</section>
